<div class="modal-header">
  <h2 class="modal-title">{{vm.title}}</h2>
  <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{vm.message}}</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    ng-click="$ctrl.cancel()"
  >
    {{vm.cancelText}}
  </button>
  <button type="button" class="vm.confirmButtonClass" ng-click="vm.confirm()">
    {{vm.confirmText}}
  </button>
</div>
