.home-container {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Segoe UI", Roboto, sans-serif;

  h1 {
    color: rgb(7, 99, 219);
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
    border-bottom: 2px solid #3498db;
    padding-bottom: 12px;
  }
}

// Responsividade
@media (max-width: 768px) {
  .home-container {
    padding: 16px;

    h1 {
      font-size: 24px;
    }
  }
}
