.home-container {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Segoe UI", Roboto, sans-serif;
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #3498db;

    h1 {
      color: rgb(7, 99, 219);
      font-size: 28px;
      margin: 0; /* Remove margin do h1 para alinhar melhor */
      font-weight: 600;
    }

    .logout-menu {
      /* Estilos específicos para o menu de logout */
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .home-container {
    padding: 16px;

    h1 {
      font-size: 24px;
    }
  }
}
